@page
@model EditModel
@using Models.ModelEnums


<div class="center-div">

	<h1 class="white-text">Edit profile</h1>

	<form method="post" id="edit-flex">
		<section>
			<label for="firstName">First name</label>
			<input type="text" id="firstName" asp-for="LoggedInUser.FirstName" />
			<span asp-validation-for="LoggedInUser.FirstName"></span>
		</section>
		<section>
			<label for="lastName">Last name</label>
			<input type="text" id="lastName" asp-for="LoggedInUser.LastName" />
			<span asp-validation-for="LoggedInUser.LastName"></span>
		</section>
		<section>
			<label for="dateOfBirth">Date of birth</label>
			<input type="datetime" id="dateOfBirth" asp-for="LoggedInUser.DateOfBirth"
				value="@Model.LoggedInUser.DateOfBirth.ToString("yyyy-MM-dd")" />
			<span asp-validation-for="LoggedInUser.DateOfBirth"></span>
		</section>
		<section>
			<label for="gender">Gender</label>
			<select asp-for="LoggedInUser.Gender" asp-items="Html.GetEnumSelectList<GenderType>()">
				<option value="">Please select</option>
			</select>
		</section>
		<section>
			<label for="preference">Preference</label>
			<select asp-for="LoggedInUser.Preference" asp-items="Html.GetEnumSelectList<SwipePreference>()">
				<option value="">Please select</option>
			</select>
		</section>
		<section>
			<label for="interest">Interests</label>

			@foreach (var interest in Model.AllInterests)
			{
				bool isSelected = Model.LoggedInUser.Interests.Any(item => item.Interest == interest);
				<label>
					<input name="interestsToAdd" type="checkbox" value="@interest" @(isSelected ? "checked" : "") />
					@interest
				</label>
			}

			</select>
		</section>
		<section>
			<label for="description">Description</label>
			<textarea id="description" asp-for="LoggedInUser.Description" rows="2" cols="50"></textarea>
			<span asp-validation-for="LoggedInUser.Description"></span>
		</section>
		<section>
			<label for="preference">Profile picture url</label>
			<input type="url" id="profilePictureUrl" asp-for="LoggedInUser.ProfilePictureUrl" />
			<span asp-validation-for="LoggedInUser.ProfilePictureUrl"></span>
		</section>
		<section>
			<label for="premium">Premium</label>
			<input type="checkbox" id="premium" asp-for="LoggedInUser.PremiumUser" />
			<span asp-validation-for="LoggedInUser.PremiumUser"></span>
		</section>
		<button type="submit" asp-route-loggedInId="@Model.LoggedInUser.Id">Update profile</button>
	</form>
</div>