@page
@model EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<div>
    Här kan användaren edita sin profil.
    Hit skickas man också om man loggat in för första gången i google kontot och man måste då "sätta upp" sin profil.
</div>