@page
@model EditModel
@using Models.ModelEnums
@{
	ViewData["Title"] = "Edit profile";
}

<h1>@ViewData["Title"]</h1>

<div>
	<form method="post">
		<section>
			<label for="firstName">First name</label>
			<input type="text" id="firstName" asp-for="User.FirstName" />
			<span asp-validation-for="User.FirstName"></span>
		</section>
		<section>
			<label for="lastName">Last name</label>
			<input type="text" id="lastName" asp-for="User.LastName" />
			<span asp-validation-for="User.LastName"></span>
		</section>
		<section>
			<label for="dateOfBirth">Date of birth</label>
			<input type="datetime" id="dateOfBirth" asp-for="User.DateOfBirth" />
			<span asp-validation-for="User.DateOfBirth"></span>
		</section>
		<section>
			<label for="gender">Gender</label>
			<select asp-for="User.Gender" asp-items="Html.GetEnumSelectList<GenderType>()">
				<option value="">Please select</option>
			</select>
		</section>
		<section>
			<label for="preference">Preference</label>
			<select asp-for="User.Preference" asp-items="Html.GetEnumSelectList<SwipePreference>()">
				<option value="">Please select</option>
			</select>
		</section>
		<section>
			<label for="personalityType">Personality type</label>
			<select asp-for="User.PersonalTypes" asp-items="">
				<option value="">Please select</option>
			</select>
		</section>
		<section>
			<label for="description">Description</label>
			<textarea id="description" asp-for="User.Description" rows="2" cols="50"></textarea>
			<span asp-validation-for="User.Description"></span>
		</section>
		<section>
			<label for="preference">Profile picture url</label>
			<input type="url" id="profilePictureUrl" asp-for="User.ProfilePictureUrl" />
			<span asp-validation-for="User.ProfilePictureUrl"></span>
		</section>
		<section>
			<label for="premium">Premium</label>
			<input type="checkbox" id="premium" asp-for="User.PremiumUser" />
			<span asp-validation-for="User.PremiumUser"></span>
		</section>
		<button type="submit">Update profile</button>
	</form>
</div>