@page
@model TinderProject.Pages.UserPage.QuizModel
@{
}

@{
	ViewData["Title"] = "Quiz";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <fieldset>
        <legend>Question 1</legend>
        <p>Do you feel energized by spending time alone or by being around other people?</p>
        <label>
            <input type="radio" name="question1" value="alone" /> Alone
        </label>
        <label>
            <input type="radio" name="question1" value="around-people" /> Around other people
        </label>
    </fieldset>

    <fieldset>
        <legend>Question 2</legend>
        <p>When making decisions, do you rely on your senses and information or do you rely on feeling and intuition?</p>
        <label>
            <input type="radio" name="question2" value="senses-information" /> Senses and information
        </label>
        <label>
            <input type="radio" name="question2" value="feeling-intuition" /> Feeling and intuition
        </label>
    </fieldset>

    <fieldset>
        <legend>Question 3</legend>
        <p>When making important decisions, do you rely on logic and analysis or on your feelings and how it will affect other people?</p>
        <label>
            <input type="radio" name="question3" value="logic-analysis" /> Logic and analysis
        </label>
        <label>
            <input type="radio" name="question3" value="feelings-affect-others" /> Feelings and how it will affect others
        </label>
    </fieldset>

    <fieldset>
        <legend>Question 4</legend>
        <p>When working on a project, do you prefer to have a detailed plan and deadlines or to have a general idea and adjust as you go along?</p>
        <label>
            <input type="radio" name="question4" value="detailed-plan-deadlines" /> Detailed plan and deadlines
        </label>
        <label>
            <input type="radio" name="question4" value="general-idea-adjust" /> General idea and adjust as you go along
        </label>
    </fieldset>

    <button type="submit">Submit</button>
</form>