@page
@model IndexModel
@inject TinderProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<div id="swipe-div">
    <h1 class="area-a" id="name-age">Henrik 27</h1>
    <p class="area-b">Intressen?</p>
    <p class="area-c">Personligheter?</p>
    <p class="area-d">Beskrivning</p>
    <div id="like-dislike-flex" class="area-e">
        <img src="~/Pictures/red_cross.png" alt="A red cross for disliking" class="like-dislike-pictures">
        <img src="~/Pictures/green_Heart.png" alt="A green heart for liking" class="like-dislike-pictures">
    </div>
</div>