@page "{userId:int}"
@model TinderProject.Pages.Messages.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<div class="center-div">

    <h2 class="white-text margin-1rem">@ViewData["Title"]</h2c>

    <p class="white-text">Are you sure?</p>

    <form method="post" asp-page="/Delete">
        <button type="submit" class="my-button margin-1rem">Delete Match</button>
    </form>

</div>
