@page "{userId:int}"
@model TinderProject.Pages.Messages.DeleteModel

<div class="center-div">
    <h1 class="white-text underline margin-bottom">Are you sure?</h1>

    <form method="post" asp-page="/Delete">
        <button type="submit" class="my-button margin-1rem">Delete Match</button>
    </form>
</div>
