@page
@model TinderProject.Pages.Messages.IndexModel
@{
    ViewData["Title"] = "Messages";
}

<h2>@ViewData["Title"]</h2>

<div>

    @if (Model.ReceivedMessages != null && Model.ReceivedMessages.Any())
    {
        <ul>
            <p>Message From</p>
            @foreach (var message in Model.ReceivedMessages)
            {
                <li>
                    <a asp-page="ShowMessage" >@message.User.FirstName</a>
                    <img src="@message.User.ProfilePictureUrl" alt="Profile Picture" id="messageProfilePic">
                </li>
            }
        </ul>
    }
    else
    {
        <p>No messages received.</p>
    }

</div>