@page
@model TinderProject.Pages.Messages.Index
@{
    ViewData["Title"] = "Messages";
}

<h2>@ViewData["Title"]</h2>

<div>
    <form method="post"> 
        <label for="message">Message</label>
        <textarea name="message" >Write your message</textarea>

        <button type="submit">Send</button>
    </form>
</div>