@page
@model TinderProject.Pages.Messages.MessegesModel
@{
}


<h2>@ViewData["Title"]</h2>

<div>

    @foreach(var message in Model.Messages)
    {
        <p>@message.SentMessage</p>
        <p>@message.User.FirstName</p>
        <p>@message.SentTime</p>
        
    }

    <form method="post">
    <label for="message">Message</label>
    <textarea name="message" >Write your message</textarea>

    <button type="submit">Send</button>
    </form>
</div>