@page
@model TinderProject.Pages.UserPage.QuizQuestions.IndexModel

@{
	ViewData["Title"] = "Quiz to decide your personality type*";
}

<div class="center-div">
	<h1 class="white-text">@ViewData["Title"]</h1>

	<a href="/UserPage/QuizQuestions/Question1" class="my-button margin-1rem">Start the quiz</a>

	<p class="white-text">
		*The quiz is based on the Myers-Briggs Type Indicator. Click <a href="https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator">
			<span id="myers-link">here</span>
		</a> to read more about it.
	</p>
</div>