@page
@model TinderProject.Pages.UserPage.QuizQuestions.Question1Model
@{
	ViewData["Title"] = "Question 1";
}
<div class="center-div">
	<h1 class="white-text">@ViewData["Title"]</h1>

	<p class="white-text margin-1rem">Do you feel energized by spending time alone or by being around other people?</p>

	<form method="post">
		<div>
			<input type="radio" id="alone" name="answer" value="I" />
			<label class="white-text" for="alone">Alone</label>
		</div>
		<div>
			<input type="radio" id="around-people" name="answer" value="E" />
			<label class="white-text" for="around-people">Around other people</label>
		</div>

		<button type="submit" class="my-button margin-1rem">Next question</button>
	</form>

</div>