@page
@model TinderProject.Pages.UserPage.QuizQuestions.Question4Model
@{
}

@{
	ViewData["Title"] = "Question 4";
}

<div class="center-div">


<h1 class="white-text">@ViewData["Title"]</h1>

<p class="white-text margin-1rem">
	When working on a project, do you prefer to have a detailed plan and deadlines or to have a general idea
	and adjust as you go along?
</p>

<form method="post">
	<div>
		<input type="radio" id="detailed-plan" name="answer" value="J" />
		<label class="white-text" for="detailed-plan">Detailed plan and deadlines</label>
	</div>
	<div>
		<input type="radio" id="general-idea" name="answer" value="P" />
		<label class="white-text" for="general-idea">General idea and adjust as you go along</label>
	</div>

	<button type="submit" class="my-button margin-1rem">View result</button>
</form>
</div>