@page
@model TinderProject.Pages.UserPage.QuizQuestions.Question3Model
@{
}

@{
	ViewData["Title"] = "Question 3";
}

<div class="center-div">
	<h1 class="white-text">@ViewData["Title"]</h1>

	<p class="white-text margin-1rem">
		When making important decisions, do you rely on logic and analysis or on your feelings and how it will
		affect other people?
	</p>

	<form method="post">
		<div>
			<input type="radio" id="logic-analysis" name="answer" value="T" />
			<label class="white-text" for="logic-analysis">Logic and analysis</label>
		</div>
		<div>
			<input type="radio" id="feelings-affect-others" name="answer" value="F" />
			<label class="white-text" for="feelings-affect-others">Feelings and how it will affect others</label>
		</div>

		<button type="submit" class="my-button margin-1rem">Next question</button>
	</form>
</div>