@page
@model TinderProject.Pages.UserPage.QuizQuestions.ResultModel
@{
}

@{
    ViewData["Title"] = "Result";
}

<h1 class="white-text">@ViewData["Title"]</h1>

<h3 class="white-text">@Model.PersonalityTypeMessage</h3>
<div>
	<form>
		<button class="my-button" type="submit" asp-page="/">Start swiping</button>
	</form>
	<form>
		<button class="my-button" type="submit" asp-page="/UserPage/Index">Show profile</button>
	</form>
</div>