@page
@model TinderProject.Pages.UserPage.QuizQuestions.ResultModel
@{
}

@{
    ViewData["Title"] = "Result";
}

<div class="center-div">

    <h1 class="white-text">@ViewData["Title"]</h1>

    <h3 class="white-text"><span class="underline">@Model.PersonalityTypeMessage</span></h3>

</div>