/* CSS for the base parts of site such as layout and navigation.  */

:root {
    --pink: #fe3c72;
    --redpink: #fd5564;
    --orange: #FF655B;
    --white: #ffffff;
    --black: #353333;
}

html {
    font-family: 'Lobster', cursive;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #3b444b;
    display: block;
    height: 100%;
    margin: auto;
    align-items: center;
}

h1,
h2,
h3,
p,
table * {
    margin: 0;
}

.white-text {
    color: white;
}

.red-text {
    color: red !important;
}

.underline {
    text-decoration: underline;
}

th {
    font-weight: 100;
    font-size: large;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.my-button,
input[type="text"],
input[type="datetime"],
input,
.dropdown-edit {
    font-family: 'Lobster', cursive;
    background-color: #d6306a;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    padding: 7px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

    .my-button:hover,
    input[type="text"]:hover {
        background-color: #ff99c8;
        transform: scale(1.05);
        cursor: pointer;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

/* This div is used in profile, premium for now. Centering content. */
.center-div {
    max-width: 100%;
    margin: 0 4rem;
    min-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#cover-div {
    max-width: 950px;
    background-image: url("../Pictures/background_orange.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 354px) {
    #cover-div {
        padding: 0;
    }
}

#message-header {
    text-align: center;
}

#message-continer {
    display: grid;
    grid-template:
        "a b" / 1fr 0.5fr;
}

@media (max-width: 660px) {
    #message-continer {
        display: grid;
        grid-template:
            "a"
            "b" / 90%;
    }

    #interactions-div {
        display: none !important;
    }

    #interactions-div-small {
        margin-top: 2rem;
        display: block !important;
    }
    #cuisine-btn{
        display: none !important;
    }
    #cuisine-btn-small{
        display: block !important;
        width: 150px;
        /* margin: auto; */
        margin-top: 1rem;
    }
}

#message-div {
    grid-area: a;
    display: block;
    overflow: scroll;
    height: 700px;
    margin-top: 2rem;
    margin-left: 2rem;
    overflow-x: hidden;
}

#interactions-div-small {
    display: none;
}

#interactions-div {
    grid-area: b;
    display: block;
    margin-top: 2rem;
    margin-left: 2rem;
}

#message-name {
    font-size: 15px;
}

#message-time {
    font-size: 10px;
}

#message-left {
    float: left;
    clear: both;
    border: solid 2px;
    border-radius: 10px;
    padding: 2px;
    width: 250px;
    margin-bottom: 5px;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#message-right {
    float: right;
    clear: both;
    margin-right: 2rem;
    border: solid 2px;
    border-radius: 10px;
    padding: 2px;
    width: 250px;
    margin-bottom: 5px;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#navigation {
    max-width: 475px;
    min-width: 384px;
    margin: 1rem auto;
    height: 3rem;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding-inline-start: 0;
}

.nav-li {
    font-size: large;
    align-content: center;
}

.pic-in-anchor {
    height: auto;
    width: 25px;
    margin-bottom: -6px;
}

.nav-li:hover {
    text-decoration: underline 1px solid;
    transform: scale(1.25);
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    cursor: pointer;
}

#messageProfilePic {
    border-radius: 50px;
    width: 2rem;
    overflow: hidden;
}

.display-block {
    display: block !important;
}

.display-none {
    display: none;
}

#error-message {
    display: none;
}

textarea {
    font-family: 'Lobster', cursive;
    background-color: #d6306a;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    padding: 7px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    resize: none;
}

    textarea::placeholder {
        color: white;
    }

#send-msg-flex {
    display: flex;
    align-items: center;
}

    #send-msg-flex button {
        margin-left: 1rem;
    }

#message-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cuisine-btn {
    padding: 0 0.5rem;
    height: 2rem;
    width: 95px;
    flex-shrink: 0;
}
#cuisine-btn-small{
    display: none;
}

#edit-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-flex section {
        margin-bottom: 1rem;
        max-width: 100%
}

#edit-flex button {
        max-width: 100px;
        align-items: center;
}

.edit-display-grid  {
    display: grid;
    align-items:center;
    text-align:left;
    grid-template:
        "a b c"/ 1fr 1fr 1fr;
}
  
.edit-textarea{
    max-width:100%;
   
    
}

.label-font {
    font-size: 1.3rem;
}
@media (max-width: 520px) {
    .edit-textarea {
        max-width: 65%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   /* .center-div{
        margin-left: auto;
        margin-right: auto;
        width:100;
    }*/
}

