table li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

table {
    margin-bottom: 1rem;
    word-wrap: normal;
    width: 100%;
    table-layout: fixed;
}

table * {
    padding: 0.8rem 1rem;
    font-size: large;
    border-radius: 8px;
}

th {
    text-decoration: wavy;
    text-decoration: underline;
}

td,
th {
    padding: 8px;
    text-align: center;
}

td {
    max-width:100%;
    overflow-x: auto;
    white-space: nowrap;
}

table tr:nth-child(odd) {
    background-color: white;
}

table tr:nth-child(even) {
    background-color: rgb(180, 178, 178);
}

.message-table {
    margin-bottom: 5px;
    padding: 3px 5px;
}

.message-table * {
    padding: 2px 5px;
    border-radius: 8px;
}

.message-table th,
td {
    margin-bottom: 2px;
    text-decoration: none;
    border: none;
}

.message-table tr:nth-child(odd) {
    background-color: #fe3c72;
}

.message-table tr:nth-child(even) {
    background-color: #fe3c72;
}

#premium-table td{
    overflow: hidden;
}

#myers-link{
    color:blue;
    text-decoration: underline;
}

fieldset{
    border-radius: 10px;
    color:white;
    margin:1rem;
}

fieldset p {
    margin:1rem;
    font-size: 18px;
}

legend{
    font-size: 24px;
}

#submit-quiz-btn{
    margin-bottom: 1rem;
}

#edit-btn{
    margin-bottom: 1rem;
}

#profile-table td {
    white-space: pre-line;
    word-break: break-word;
}

@media (max-width: 500px) {

    #profile-div{
        margin:0;
    }
    #profile-table{
        margin-top: 1rem;
    }
  }

#pic-flex{
    display: flex;
    background-color: #d6306a;
    border-radius: 25px;
    align-items: center;
}

#pic-flex img{
    width:70px;
    height:auto;
    margin: 1rem;
}

input[type="file"] {
    height:40px;
    width: 250px;
    box-shadow: none;
  }

  #profile-table img{
    width:70px;
    height:auto;
  }