:root {
    --pink: #fe3c72;
    --redpink: #fd5564;
    --orange: #FF655B;
    --white: #ffffff;
    --black: #353333;
}

#swipe-div {
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    background-size: 100% 100%;
    position: relative;
    max-width: 350px;
    height: 600px;
    margin: auto;
    border-radius: 25px;
    display: grid;
    grid-template:
        "a a" 1fr
        "b b" 1fr
        "c c" 80px / 1fr 1fr;
}

#swipe-div p,
#swipe-div h1 {
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;
}

#swipe-div p,
#swipe-div h1 {
    margin: 10px;
}

#like-dislike-flex {
    display: flex;
}

.area-a {
    grid-area: a;
}

.area-b {
    grid-area: b;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: flex-end;
}

.area-c {
    grid-area: c;
}

#name-age {
    font-size: 40px;
}

.interest-type-match {
    display: inline-block;
    border: 1px solid var(--pink);
    border-radius: 15px;
    width: auto;
    color: white;
    padding: 2px 5px;
    margin: 3px;
    background-image: url("../Pictures/background_orange.png")
}

.interest-type-nomatch {
    display: inline-block;
    border: 1px solid var(--pink);
    border-radius: 15px;
    width: auto;
    color: white;
    padding: 2px 5px;
    margin: 3px;
}


.interest-div p {
    color: #FF655B
}

#like-dislike-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.like-dislike-pictures {
    width: 70px;
    height: 70px;
}

.like-dislike-pictures:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

.invis-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* CSS for Show the hearts and other effect when hovering like/dislike. */

.heart-pic {
    width: 0px;
    position: absolute;
    opacity: 0;
    transition: width 1s ease-in-out;
    z-index: 1;
}

.heart-pic-show {
    opacity: 1;
}

.grey-scale {
    filter: grayscale(50%);
    transition: filter 1.5s ease-in;
}

/*CSS form displaying popup when a user has a match*/
#match-div {
    background-image: url("../Pictures/heart-popup.png");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    margin: auto;
    margin-top: 0;
    z-index: 2;
    width: 50%;
    min-width: 300px;
    max-width: 525px;
    height: 80%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;

    transition: ease-in-out 1.5s;
}

.show-match-div {
    opacity: 0.9 !important;
}

#match-options-flex {
    display: flex;
    width: 100%;
    position: absolute;
    flex-direction: column;
    text-align: center;
    top: 20%;
}

#match-options-flex h1 {
    text-decoration: underline;
    font-size: 42px;
    margin-bottom: 2rem;
}