@using TinderProject.Pages.Shared.Components.LoginMenu;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Maincss.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Swipe_Screen_css.css">
    <link rel="stylesheet" href="~/css/Profile_Err_msg.css">
    <link rel="stylesheet" href="~/css/Profile.css">
    <link rel="stylesheet" href="~/css/Premium.css">


    <link rel="icon" type="image/png" href="~/Pictures/heart.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>

<body>
    <header>
        <environment names="Development">
            @await Component.InvokeAsync(nameof(FakeLoginMenu))
        </environment>

        <nav id="navigation">
            <ul class="nav-ul">
                <li class="nav-li">
                    
                    <a asp-page="/Index">
                        <img src="/Pictures/heart.png" alt="Heart logo" class="pic-in-anchor">
                        Swipe</a>
                </li>

                <li class="nav-li">
                    <img src="/Pictures/text.png" alt="Message logo" class="pic-in-anchor">
                    <a asp-page="/Messages/Index">Messages</a>
                </li>

                <li class="nav-li">
                    <img src="/Pictures/user.png" alt="User logo" class="pic-in-anchor">
                    <a asp-page="/UserPages/Index">Profile</a>
                </li>

                <li class="nav-li">
                    <img src="/Pictures/green_Heart.png" alt="Green Heart" class="pic-in-anchor">
                    <a asp-page="/Premium/Index">Premium</a>
                </li>

            </ul>
        </nav>
    </header>
    <main>
        <div id="cover-div">
            @RenderBody()

        </div>
    </main>
</body>

</html>