@using TinderProject.Pages.Shared.Components.LoginMenu;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Maincss.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>

<body>

    <header>
        @* <environment names="Development">
        @await Component.InvokeAsync(nameof(FakeLoginMenu))
        </environment> *@

        <nav id="navigation">
            <ul class="nav-ul">
                <li class="nav-li">
                    @* Skall home vara där man swipar kanske? Eller någon annan stans *@
                    <a asp-page="/Index">Home</a>
                </li>

                <li class="nav-li">
                    <a asp-page="/Messages/Index">Messages</a>
                </li>

                @* Vi kanske kan ta bort denna om Home är swipe *@
                <li class="nav-li">
                    Swipe
                </li>
                
                <li class="nav-li">
                    <a asp-page="/User/Index">Profile</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="cover-div">
            @RenderBody()

        </div>
    </main>
</body>

</html>