<div id="profile-err-msg">
    <h1 class="white-text">Your profile is not complete!</h1>
    <form>
        <button id="err-btn" class="my-button" asp-page="/UserPage/Edit">Click here to set up your page!</button>
    </form>
</div>